@using Microsoft.AspNetCore.Http
@using ASC.Utilities

@{
    Layout = "_MasterLayout";
}

<header class="secureLayout">
    <nav class="top-nav blue-grey lighten-1">
        <div class="nav-wrapper row valign-wrapper">
            <div class="col s12 valign-wrapper">
                <a href="#" data-target="nav-mobile" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
                <a class="page-title">Automobile Service Center</a>
            </div>
        </div>
    </nav>

    @await Component.InvokeAsync("LeftNavigation")

    <form class="hide" method="post" id="logoutForm" asp-area="Identity" asp-page="/Account/Logout"></form>
    <form class="hide" method="post" id="resetPasswordForm" asp-area="Identity" asp-page="/Account/InitiateResetPassword"></form>
</header>

<main class="secureLayout">
    <div class="row margin-bottom-0px">
        <div class="col s12">
            @RenderBody()
        </div>
    </div>
</main>

<footer class="page-footer blue-grey lighten-1 secureLayout">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About Us</h5>
                <p class="grey-text text-lighten-4">
                    Automobile Service Center is certified company to perform car services.
                    Our workshop operations started in October 2010.
                    We primarily focus on providing better services to our customers.
                </p>
            </div>

            <div class="col l3 s12">
                <h5 class="white-text">Additional Services</h5>
                <ul>
                    <li><a class="white-text" href="#!">Services</a></li>
                    <li><a class="white-text" href="#!">Finance</a></li>
                    <li><a class="white-text" href="#!">Used Cars</a></li>
                    <li><a class="white-text" href="#!">Insurance</a></li>
                    <li><a class="white-text" href="#!">Driving School</a></li>
                </ul>
            </div>

            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Facebook</a></li>
                    <li><a class="white-text" href="#!">LinkedIn</a></li>
                    <li><a class="white-text" href="#!">Twitter</a></li>
                    <li><a class="white-text" href="#!">Youtube</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright row margin-bottom-0px">
        <div class="col s12">
            Powered by
            <a class="brown-text text-lighten-3" href="http://materializecss.com">
                Materialize
            </a>
        </div>
    </div>
</footer>

@section Scripts {
    @RenderSection("Scripts", required: false)

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var sidenav = document.querySelectorAll('.sidenav');
            M.Sidenav.init(sidenav);

            var collapsible = document.querySelectorAll('.collapsible');
            M.Collapsible.init(collapsible);
        });

        $(function () {
            $("#mnuLogout").click(function () {
                $("#logoutForm").submit();
            });

            $("#mnuResetPassword").click(function () {
                $("#resetPasswordForm").submit();
            });
        });
    </script>
}