@page
@model ASC.Web.Areas.Identity.Pages.Account.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot password";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col s12 m5 offset-m4">

            <form method="post">
                <h4 class="center">Forgot Password</h4>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Input.Email" type="email" class="validate" />
                        <label asp-for="Input.Email"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="row center">
                    <button class="btn waves-effect waves-light" type="submit">
                        Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}